

 <html>
     <head>
        <link rel="stylesheet" href="/templates/report.css">
     </head>
     <body>
        <table class="c45">
            <tbody>
               <tr class="c37">
                  <td class="c46" colspan="1" rowspan="2">
                     <p class="c25"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 85.00px; height: 98.00px;"><img alt="" src="images/image3.png" style="width: 85.00px; height: 98.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
                  </td>
                  <td class="c13" colspan="1" rowspan="1">
                     <p class="c8"><span class="c7">Temperature and Relative Humidity Mapping Study in Controlled Environment Controlled Environment Area (CEA)</span></p>
                     <p class="c8 c28"><span class="c0"></span></p>
                  </td>
               </tr>
               <tr class="c42">
                  <td class="c13" colspan="1" rowspan="1">
                     <p class="c8"><span class="c7">Page </span><span>2</span><span class="c7">&nbsp;of </span></p>
                  </td>
               </tr>
            </tbody>
         </table>
     </body>
 </html>