<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
      <link rel="stylesheet" href="/templates/report.css">
   </head>
   <body class="c33">
      <div>
         <p class="c2"><span class="c0"></span></p>
      </div>
      <p class="c8"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 75.16px; height: 85.79px;"><img alt="" src="images/image3.png" style="width: 75.16px; height: 85.79px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
      <p class="c8"><span class="c22 c38">COMPUTER INTEGRATION OF QUALITY ASSURANCE</span></p>
      <p class="c2"><span class="c0"></span></p>
      <p class="c8"><span class="c41">HC-02 Box 3135 Hormigueros, Puerto Rico 00660</span></p>
      <p class="c8"><span class="c22 c41 c31">Tel 787-487-9235, email: ramon.cayuela@ciqa.net</span></p>
      <p class="c2"><span class="c22 c41 c31"></span></p>
      <p class="c2"><span class="c22 c41 c31"></span></p>
      <p class="c8 c28"><span class="c22 c31 c41"></span></p>
      <p class="c8 c28"><span class="c22 c41 c31"></span></p>
      <p class="c8 c28"><span class="c0"></span></p>
      <p class="c8" id="h.gjdgxs"><span class="c44">Temperature and Relative Humidity Mapping Study Using {$dataloggerQty} Calibrated Dataloggers in </span></p>
      <p class="c8" id="h.oltn4vc8q7vl"><span class="c3">{$clientName}</span></p>
      <p class="c8"><span class="c38">Room ID: </span><span class="c5">Controlled Environment Area (CEA) Rooms:</span></p>
      <p class="c2"><span class="c4"></span></p>
      <p class="c2"><span class="c4"></span></p>
      <p class="c40 c28"><span class="c5 c22"></span></p>
      <p class="c28 c40"><span class="c22 c5"></span></p>
      <p class="c24"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 116.08px; height: 72.55px;"><img alt="" src="images/image1.jpg" style="width: 116.08px; height: 72.55px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
      <p class="c24"><span class="c38">Approved By: </span><span class="c5">{$approver},</span><span class="c38">&nbsp;</span><span class="c5">CIQA Management</span></p>
      <p class="c24"><span class="c38">Approved Date: </span><span class="c22 c5">{$approveDate}</span></p>
      <p class="c24"><span class="c38">Building Name: </span><span class="c22 c5 c27">{$clientName} {$location}</span></p>
      <p class="c17 c28"><span class="c9"></span></p>
      <p class="c17 c28"><span class="c9"></span></p>
      <p class="c30 c28"><span class="c9"></span></p>
      <p class="c28 c30"><span class="c9"></span></p>
      <p class="c30 c28"><span class="c9"></span></p>
      <p class="c30 c28"><span class="c9"></span></p>
      <p class="c30 c28"><span class="c9"></span></p>
      <p class="c30 c28"><span class="c9"></span></p>
      <p class="c17"><span class="c9">HC 02 Box 3135, Hormigueros, Puerto Rico 00660</span></p>
      <p class="c17"><span class="c36">Tel. 787-487-9235, fax: 787-892-0516, e-mail: ramon.cayuela@ciqa.net</span>
      <hr style="page-break-before:always;display:none;">
      </p>
      <p class="c17 c28"><span class="c9"></span></p>
      <a id="t.2139264a11da5b6d17d9936ba5649038ff14b190"></a><a id="t.0"></a>
    </body>
</html>